* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Color principal del Sitio Web*/
body {
  background-color: #E8F9FD; }

/* Estructura del index*/
.contenedor {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2fr);
  grid-template-areas: "navegacion navegacion navegacion" "nombre nombre nombre" "img perfil perfil" "footer footer footer"; }
  .contenedor .perfil {
    height: 86.3vh; }
  .contenedor .informacion-principal {
    grid-area: nombre;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .contenedor .informacion-principal h1 {
      padding: 1rem; }
    .contenedor .informacion-principal h2 {
      padding: 0.5rem; }
  .contenedor .div-perfil {
    grid-area: perfil;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .contenedor .div-perfil .img {
      grid-area: img;
      border-radius: 160px;
      border: 10px solid #79DAE8;
      margin: 0.5rem; }
    .contenedor .div-perfil .informacion {
      margin: 0.5rem;
      text-align: center;
      font-size: 1.2rem;
      padding-inline: 5rem;
      padding-top: 2rem; }
    .contenedor .div-perfil .h2-acerca {
      margin: 0.5rem;
      text-align: center;
      padding-top: 4rem; }
    .contenedor .div-perfil .p-informacion {
      margin: 0.5rem;
      text-align: center;
      font-size: 1.2rem;
      padding-inline: 5rem; }

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor .navegacion {
      background-color: #0AA1DD;
      grid-area: navegacion;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
    body .contenedor .perfil {
      height: auto; }
    body .contenedor .perfil {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .contenedor .perfil .informacion {
        padding-inline: 0.1rem; }
      body .contenedor .perfil .h2-acerca {
        padding-top: 0.1rem; }
      body .contenedor .perfil .p-informacion {
        padding-inline: 0.1rem; }
      body .contenedor .perfil .informacion-principal h1 {
        text-align: center;
        margin: 0.5rem; }
        body .contenedor .perfil .informacion-principal h1 span {
          display: block; } }

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor .navegacion {
      display: none; }
    body .contenedor .perfil {
      height: auto; }
    body .contenedor .perfil {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .contenedor .perfil .div-perfil {
        grid-area: perfil;
        display: flex;
        flex-direction: column;
        align-items: center; }
      body .contenedor .perfil .informacion-principal h1 {
        text-align: center;
        margin: 0.5rem; }
        body .contenedor .perfil .informacion-principal h1 span {
          display: block; }
      body .contenedor .perfil .h2-acerca, body .contenedor .perfil .p-informacion {
        display: none; } }

.contenedor-experiencia .div-experiencia .section-experiencia div, .contenedor-educacion .div-educacion .section-educacion div, .contenedor-proyectos .div-proyectos .section-proyectos div {
  background-color: #c8f2f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem;
  width: 750px;
  margin: 1rem;
  box-shadow: 1px 1px 10px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div img, .contenedor-educacion .div-educacion .section-educacion div img, .contenedor-proyectos .div-proyectos .section-proyectos div img {
    align-items: center;
    margin: 12px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div p, .contenedor-educacion .div-educacion .section-educacion div p, .contenedor-proyectos .div-proyectos .section-proyectos div p {
    text-align: center; }

/* Estructura de experiencia*/
.contenedor-experiencia {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2fr);
  grid-template-areas: "navegacion navegacion navegacion" "t-experiencia t-experiencia t-experiencia " "c-experiencia c-experiencia c-experiencia" "footer footer footer"; }
  .contenedor-experiencia .main-experiencia {
    grid-area: t-experiencia; }
    .contenedor-experiencia .main-experiencia h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0.5rem; }
  .contenedor-experiencia .div-experiencia {
    grid-area: c-experiencia; }
    .contenedor-experiencia .div-experiencia .section-experiencia {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-experiencia .div-experiencia .section-experiencia .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 600px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-experiencia .div-experiencia .section-experiencia .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-experiencia .div-experiencia .section-experiencia .card p {
        text-align: center; } }

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-experiencia .navegacion {
      display: none; }
    body .contenedor-experiencia .div-experiencia .section-experiencia .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 400px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-experiencia .div-experiencia .section-experiencia .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-experiencia .div-experiencia .section-experiencia .card p {
        text-align: center; } }

.contenedor-experiencia .div-experiencia .section-experiencia div, .contenedor-educacion .div-educacion .section-educacion div, .contenedor-proyectos .div-proyectos .section-proyectos div {
  background-color: #c8f2f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem;
  width: 750px;
  margin: 1rem;
  box-shadow: 1px 1px 10px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div img, .contenedor-educacion .div-educacion .section-educacion div img, .contenedor-proyectos .div-proyectos .section-proyectos div img {
    align-items: center;
    margin: 12px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div p, .contenedor-educacion .div-educacion .section-educacion div p, .contenedor-proyectos .div-proyectos .section-proyectos div p {
    text-align: center; }

/* Estructura de educacion*/
.contenedor-educacion {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2fr);
  grid-template-areas: "navegacion navegacion navegacion" "t-educacion t-educacion t-educacion " "c-educacion c-educacion c-educacion" "footer footer footer"; }
  .contenedor-educacion .main-educacion {
    grid-area: t-educacion; }
    .contenedor-educacion .main-educacion h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0.5rem; }
  .contenedor-educacion .div-educacion {
    grid-area: c-educacion; }
    .contenedor-educacion .div-educacion .section-educacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-educacion .div-educacion .section-educacion .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 600px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-educacion .div-educacion .section-educacion .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-educacion .div-educacion .section-educacion .card p {
        text-align: center; } }

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-educacion .navegacion {
      display: none; }
    body .contenedor-educacion .div-educacion .section-educacion .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 400px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-educacion .div-educacion .section-educacion .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-educacion .div-educacion .section-educacion .card p {
        text-align: center; } }

.contenedor-experiencia .div-experiencia .section-experiencia div, .contenedor-educacion .div-educacion .section-educacion div, .contenedor-proyectos .div-proyectos .section-proyectos div {
  background-color: #c8f2f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem;
  width: 750px;
  margin: 1rem;
  box-shadow: 1px 1px 10px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div img, .contenedor-educacion .div-educacion .section-educacion div img, .contenedor-proyectos .div-proyectos .section-proyectos div img {
    align-items: center;
    margin: 12px; }
  .contenedor-experiencia .div-experiencia .section-experiencia div p, .contenedor-educacion .div-educacion .section-educacion div p, .contenedor-proyectos .div-proyectos .section-proyectos div p {
    text-align: center; }

/* Estructura de proyectos*/
.contenedor-proyectos {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2fr);
  grid-template-areas: "navegacion navegacion navegacion" "t-proyectos t-proyectos t-proyectos " "c-proyectos c-proyectos c-proyectos" "footer footer footer"; }
  .contenedor-proyectos .main-proyectos {
    grid-area: t-proyectos;
    height: 86.3vh; }
    .contenedor-proyectos .main-proyectos h1 {
      text-align: center;
      font-size: 2rem;
      margin: 0.5rem; }
  .contenedor-proyectos .div-proyectos {
    grid-area: c-proyectos; }
    .contenedor-proyectos .div-proyectos .section-proyectos {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-proyectos .div-proyectos .section-proyectos .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 600px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-proyectos .div-proyectos .section-proyectos .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-proyectos .div-proyectos .section-proyectos .card p {
        text-align: center; } }

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-proyectos .navegacion {
      display: none; }
    body .contenedor-proyectos .main-proyectos {
      height: auto; }
    body .contenedor-proyectos .div-proyectos .section-proyectos .card {
      background-color: #c8f2f7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1.3rem;
      width: 400px;
      margin: 1rem;
      box-shadow: 1px 1px 10px; }
      body .contenedor-proyectos .div-proyectos .section-proyectos .card img {
        align-items: center;
        margin: 12px; }
      body .contenedor-proyectos .div-proyectos .section-proyectos .card p {
        text-align: center; } }

/* Estructura de contacto*/
.contenedor-contacto {
  grid-template-rows: auto;
  grid-template-columns: repeat(2fr);
  grid-template-areas: "navegacion navegacion navegacion" "main-contacto main-contacto main-contacto" "footer footer footer"; }
  .contenedor-contacto .main-contacto {
    height: 86.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .contenedor-contacto .main-contacto h2 {
      text-align: center;
      font-size: 30px;
      margin: 1rem; }
    .contenedor-contacto .main-contacto section {
      margin: 5px;
      padding: 20px; }
      .contenedor-contacto .main-contacto section form div {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        margin: 10px; }
        .contenedor-contacto .main-contacto section form div input {
          padding: 0.5rem;
          margin: 3px; }

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-contacto .main-contacto {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      body .contenedor-contacto .main-contacto h2 {
        text-align: center;
        font-size: 30px; } }

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px) {
  body {
    background-color: #E8F9FD; }
    body .contenedor-contacto .navegacion {
      display: none; }
    body .contenedor-contacto .main-contacto {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      body .contenedor-contacto .main-contacto h2 {
        text-align: center;
        font-size: 30px; } }

/* Menu de navegacion General*/
.navegacion {
  background-color: #0AA1DD;
  grid-area: navegacion;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .navegacion nav ul {
    display: flex;
    list-style: none; }
    .navegacion nav ul li {
      margin: 0.5rem;
      padding: 5px;
      font-size: 1rem;
      background-color: #79DAE8;
      border-radius: 50px;
      box-shadow: 2px 2px 5px; }
      .navegacion nav ul li a {
        text-decoration: none;
        color: black; }

/* Menu de Footer General */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #0AA1DD; }
  footer div {
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    justify-content: center; }
    footer div img {
      margin: 0 3px; }
  footer h4 {
    text-align: center; }
