// paleta de colores //

$primary-color: #E8F9FD;
$secondary-color: #79DAE8;
$tertiary-color: #0AA1DD;
$quaternary-color: #2155CD;
$quinary-color: #c8f2f7;


/* Color principal del Sitio Web*/
body{
    background-color: $primary-color;
}