@import "partials/extend-card";
 
 /* Estructura de proyectos*/
 .contenedor-proyectos{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  repeat(2fr) ;
    grid-template-areas: 
    "navegacion navegacion navegacion"
    "t-proyectos t-proyectos t-proyectos "
    "c-proyectos c-proyectos c-proyectos"
    "footer footer footer";

    .main-proyectos{
            grid-area: t-proyectos;
            height: 86.3vh;
        h1{
            text-align: center;
            font-size: 2rem;
            margin: 0.5rem;
        }
    }

    .div-proyectos{
        grid-area: c-proyectos;
        
        .section-proyectos{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            div{
                @extend %card;
            }
        }
    }
}

/* Media Querys*/
/* Formato Tablet */
@media (max-width: 820px) and (min-width: 659px){
    body{
        background-color: $primary-color;

        .contenedor-proyectos .div-proyectos .section-proyectos .card{
            background-color: $quinary-color;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1.3rem;
            width: 600px;
            margin: 1rem;
            box-shadow: 1px 1px 10px;

            img{
            align-items: center;
            margin: 12px;
            }

            p{
            text-align: center;
            }
        }
    }
}

/* Formato mobile */
@media screen and (max-width: 658px) and (min-width: 428px){
    body{
        background-color: $primary-color;

        .contenedor-proyectos .navegacion{
            display: none;
        }


        .contenedor-proyectos .main-proyectos{
                height: auto;
        }

        .contenedor-proyectos .div-proyectos .section-proyectos .card{
            background-color: $quinary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1.3rem;
            width: 400px;
            margin: 1rem;
            box-shadow: 1px 1px 10px;

            img{
            align-items: center;
            margin: 12px;
            }

            p{
            text-align: center;
            }
        }
    }
}